# App
APP_ENV=development # development | production | staging | testing
APP_PORT=3001

# Database
DB_HOST=localhost # Database Hostname
DB_PORT=5432 # Database Port
DB_USER="" # Database user
DB_PASSWORD="" # Database user's password
DB_NAME="" # Database name
DB_SSLMODE=disable # Database SSL Mode: enable | disable

# JWT
ACCESS_TOKEN_SECRET="" # Random string for access token secret